/** @format */
@font-face {
  font-family: "soothingfont";
  src: url(./sign-up-fonts/TenorSans-Regular.ttf);
}
img {
  height: 100vh;
  width: 700px;
}
body {
  display: flex;
  justify-content: flex-start;
  font-family: "soothingfont";
}

.section_B {
  width: 750px;
  font-size: 1.1rem;
}
.section_C {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 500px;
}
.text-section {
  height: 100px;
  width: 550px;
  font-weight: 500;
  padding: 30px;
  color: rgb(127, 129, 14);
}
.dothis-section {
  display: flex;
  font-weight: bolder;
  font-size: larger;
  color: purple;
  padding: 30px;
  height: 30px;
}
.information-section {
  display: flex;
  font-weight: bold;

  height: 290px;

  padding: 80px;
}

label,
input {
  display: flex;
  padding: 15px;

  justify-content: flex-start;
  vertical-align: baseline;

  width: 190px;
}

label {
  display: flex;
  font-weight: bolder;
  justify-content: flex-start;

  font-size: 15px;
  padding: 15px;
}

input {
  border: none;
  box-sizing: border-box;
  border-bottom: 2px solid green;
  outline: none;
  cursor: pointer;
  color: black;
  font-family: "soothingfont";
  font-weight: bold;
  font-size: large;

  /* -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;*/
}
input[type="text"],
input[type="email"],
input[type="password"] {
  transition: width 0.3s ease-in-out;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  width: 90%;
  outline: none;
}
form {
  display: flex;
  justify-content: center;

  width: 300px;
}

.button-section {
  height: 200px;
  height: auto;
  padding: 30px;
  font-weight: bolder;
  color: rgb(32, 9, 240);
}
#first-name,
#last-name {
  color: rgb(235, 68, 7);
}
#email,
#phone-number {
  color: magenta;
}
#password,
#confirm-password {
  color: lightseagreen;
}

button {
  width: 200px;
  height: 40px;
  overflow: hidden;
  border-radius: 1px;
  transition-duration: 0.4s;
  font-weight: bolder;
  cursor: pointer;
  background: linear-gradient(
      217deg,
      rgba(255, 0, 0, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
  color: black;
}

button:hover {
  animation: shaking 0.5s infinite;
}
@keyframes shaking {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(4deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.password-error {
  border-bottom: 3px solid red;
}
.error-message-before {
  visibility: hidden;
}

.error-message-after {
  color: crimson;
  font-family: "soothingfont";
  visibility: visible;
}
